<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- 通用样式 --}}
    <link rel="stylesheet" href="/styles/index.css">
    {{#block 'style'}}{{/block}}
    <title>{{title}}</title>
</head>

<body>

    {{!-- 页头 --}}
    {{>nav}}


    {{{body}}}

    {{!-- 引入jq --}}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    {{#block 'jquery'}}{{/block}}

</body>

</html>